pipeline/Build Dim Product.json
{
	"name": "Build Dim Product",
	"properties": {
		"activities": [
			{
				"name": "Get Latest Version",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@pipeline().globalParameters.sqlservername",
							"type": "Expression"
						},
						"databasename": {
							"value": "@pipeline().globalParameters.databasename",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.sqlusername",
							"type": "Expression"
						},
						"secretname": {
							"value": "@pipeline().globalParameters.passwordkey",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "LastVersion",
									"type": "Int64",
									"value": null,
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "SELECT @LastVersion = CHANGE_TRACKING_CURRENT_VERSION()"
						}
					]
				}
			},
			{
				"name": "Get Current Version",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@pipeline().globalParameters.sqlservername",
							"type": "Expression"
						},
						"databasename": {
							"value": "@pipeline().globalParameters.dwdatabasename",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.sqlusername",
							"type": "Expression"
						},
						"secretname": {
							"value": "@pipeline().globalParameters.passwordkey",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "LastVersion",
									"type": "Int64",
									"value": null,
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "select @LastVersion=LastVersion from dbo.SCDControl\nwhere tablename='Product'"
						}
					]
				}
			},
			{
				"name": "Set Latest Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Latest Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastVersion",
					"value": {
						"value": "@string(activity('Get Latest Version').output.outputparameters.LastVersion)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Current Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Current Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentVersion",
					"value": {
						"value": "@activity('Get Current Version').output.outputparameters.LastVersion",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LastVersion": {
				"type": "String"
			},
			"SQL": {
				"type": "String"
			},
			"CurrentVersion": {
				"type": "String"
			},
			"VersionControlSQL": {
				"type": "String"
			}
		},
		"annotations": []
	}
}