pipeline/Build Dim Product.json
{
	"name": "Build Dim Product",
	"properties": {
		"activities": [
			{
				"name": "Get Current Version",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@pipeline().globalParameters.sqlservername",
							"type": "Expression"
						},
						"databasename": {
							"value": "@pipeline().globalParameters.databasename",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.sqlusername",
							"type": "Expression"
						},
						"secretname": {
							"value": "@pipeline().globalParameters.passwordkey",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "LastVersion",
									"type": "Int64",
									"value": null,
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "SELECT @LastVersion = CHANGE_TRACKING_CURRENT_VERSION()"
						}
					]
				}
			},
			{
				"name": "Get Latest Version",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@pipeline().globalParameters.sqlservername",
							"type": "Expression"
						},
						"databasename": {
							"value": "@pipeline().globalParameters.dwdatabasename",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.sqlusername",
							"type": "Expression"
						},
						"secretname": {
							"value": "@pipeline().globalParameters.passwordkey",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "LastVersion",
									"type": "Int64",
									"value": null,
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "select @LastVersion=LastVersion from dbo.SCDControl\nwhere tablename='Product'"
						}
					]
				}
			},
			{
				"name": "Set Current Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Current Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentVersion",
					"value": {
						"value": "@string(activity('Get Current Version').output.outputparameters.LastVersion)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Latest Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Latest Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastVersion",
					"value": {
						"value": "@string(activity('Get Latest Version').output.outputparameters.LastVersion)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If exists last version",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Current Version",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Latest Version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(coalesce(variables('LastVersion'),''),'')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Incremental SQL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SQL",
								"value": "@concat(\"with changes as (SELECT    CT.ProductID FROM    CHANGETABLE(CHANGES [dbo].[bigProduct],\", variables('LastVersion') ,\") AS CT where CT.SYS_Change_Columns in (\"''I\"'',\"''U'\"') and SYS_CHANGE_COLUMNS in (''\"Name'\"','\"'ListPrice\"'',\"''ProductModelID''\") ) select ProductId,bp.Name ProductName,ListPrice,pm.ProductModelID,pm.Name as ModelName from dbo.bigProduct bp inner join SalesLT.ProductModel pm on bp.ProductModelID=pm.ProductModelId where ProductID in (select ProductId from changes)\")\n"
							}
						},
						{
							"name": "Set Update version control",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VersionControlSQL",
								"value": "@concat('Update dbo.SCDControl set lastversion=',variables('CurrentVersion'), ' where tablename=''Product''')\n"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Full SQL",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SQL",
								"value": "select ProductId,bp.Name ProductName,ListPrice,pm.ProductModelID,pm.Name as ModelName from dbo.bigProduct bp inner join SalesLT.ProductModel pm on bp.ProductModelID=pm.ProductModelId"
							}
						},
						{
							"name": "Set Version Control",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VersionControlSQL",
								"value": "@concat('Insert into dbo.SCDControl (tablename,lastversion) values (''Product'', ''', variables('CurrentVersion'), ''')')"
							}
						}
					]
				}
			},
			{
				"name": "Build Product Dim",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If exists last version",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Core Product Dim",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SQL": {
							"value": "@variables('SQL')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Version Control",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Build Product Dim",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LinkedSQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@pipeline().globalParameters.sqlservername",
							"type": "Expression"
						},
						"databasename": {
							"value": "@pipeline().globalParameters.dwdatabasename",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.sqlusername",
							"type": "Expression"
						},
						"secretname": {
							"value": "@pipeline().globalParameters.passwordkey",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('VersionControlSQL')",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"LastVersion": {
				"type": "String"
			},
			"SQL": {
				"type": "String"
			},
			"CurrentVersion": {
				"type": "String"
			},
			"VersionControlSQL": {
				"type": "String"
			}
		},
		"annotations": []
	}
}